* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: linear-gradient(to right, #2f2f2f, #3858d6);
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__intro {
    width: 50%;
    text-align: center;
    font-size: 50px;
    color: #eee;
    font-weight: 600;
}

.grid-container {
    width: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    gap: 5px;
}

.grid-container button {
    cursor: pointer;
    font-size: 1.4rem;
    outline: none;
    background-color: #222;
    color: #FFF;
    transition: all .4s;
    border-radius: 10px;
}

.grid-container button:hover {
    background-color: #eee;
    color: #222;
}

.grid-container .operator {
    background: #2641B1;
}

.grid-container .span-two {
    grid-column: span 2;
}

.grid-container .output {
    grid-column: 1 / -1;
    background-color: #333;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.3rem;
}

.grid-container .output .current-operand {
    color: #FFF;
    font-size: 2rem;
}

.equal__button {
    border-radius: 0 0 15px 0;
}

.dot__button {
    border-radius: 0 0 0 15px;
}